<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a
      class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
      routerLinkActive="active"
      [routerLink]="['/dashboard']"
      >{{ getTitle() }}</a
    >
    <a
      href="/home"
      class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
      routerLink="home"
    >
    </a>

    <div *ngIf="showAdminBoard">
      <a
        href="/admin"
        class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
        routerLink="admin"
        >Admin Board</a
      >
    </div>
    <div *ngIf="showModeratorBoard">
      <a
        href="/mod"
        class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
        routerLink="mod"
        >Moderator Board</a
      >
    </div>

    <!--     <a
      href="/user"
      class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
      *ngIf="isLoggedIn"
      routerLink="user"
      >User</a
    > -->

    <!-- Form -->
    <form
      class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto"
    >
      <div class="form-group mb-0" [ngClass]="{ focused: focus === true }">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input
            class="form-control"
            placeholder="Search"
            type="text"
            (focus)="focus = true"
            (blur)="focus = false"
          />
        </div>
      </div>
    </form>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img
                alt="Image placeholder"
                src="assets/img/theme/team-4-800x800.jpg"
              />
            </span>

            <div class="media-body ml-2 d-none d-lg-block" *ngIf="isLoggedIn">
              <!--<span class="mb-0 text-sm font-weight-bold" >{{ username }}</span>-->
              <a
                href="/profile"
                class="mb-0 text-sm font-weight-bold"
                routerLink="profile"
                >{{ username }}</a
              >
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Bienvenue!</h6>
          </div>
          <a type="button" (click)="gotoProfile()" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>Mon profil</span>
          </a>
          <a type="button" (click)="gotoUpdate()" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Paramétres</span>
          </a>

          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span (click)="logout()">LogOut</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
