<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 400px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center" *ngIf="medecin">
    <div class="col-lg-10 col-md-10">
      <h3 class="display-2 text-white">Modifier mon profil MEDECIN</h3>
      <p class="text mt-0 mb-5" style="color: yellow;">
        {{ medecin.nom }} {{ medecin.prenom }}
      </p>
      <button type="button" class="btn btn-info" (click)="gotoProfile()">
        Revenir au profile
      </button>
    </div>
  </div>
  <div class="container-fluid d-flex align-items-center" *ngIf="patient">
    <div class="col-lg-10 col-md-10">
      <h6 class="display-2 text-white">Modifier mon profil PATIENT</h6>
      <p class="text mt-0 mb-5" style="color: yellow;">
        {{ patient.nom }} {{ patient.prenom }}
      </p>
      <button type="button" class="btn btn-info" (click)="gotoProfile()">
        Revenir au profil
      </button>
    </div>
  </div>
</div>

<div class="container-fluid mt--7" *ngIf="medecin">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img
                  src="assets/img/theme/team-4-800x800.jpg"
                  class="rounded-circle"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4"
              >Connect</a
            >
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-default float-right"
              >Message</a
            >
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div
                class="card-profile-stats d-flex justify-content-center mt-md-5"
              ></div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ medecin.nom
              }}<span class="font-weight-light">,{{ medecin.prenom }}</span>
            </h3>
            <div class="h5 font-weight-300"></div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i
              >{{ medecin.specialite }}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>Université de Medecine de
              Tunis
            </div>
            <hr class="my-4" />
            <p>
              Santé, premier des biens après la paix du coeur.
            </p>
            <a href="javascript:void(0)">Henri-Frédéric Amiel </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Informations medecin</h3>
            </div>
          </div>
        </div>
        <div [hidden]="submitted">
          <form *ngIf="!showMsg" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">
                  Informations personnelles
                </h6>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="name">Nom</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nom"
                        required
                        [(ngModel)]="medecin.nom"
                        name="nom"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="name"
                        >Prenom</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="prenom"
                        required
                        [(ngModel)]="medecin.prenom"
                        name="prenom"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="name"
                        >Specialité</label
                      >

                      <!--spec select debut-->
                      <select
                        type="text"
                        class="form-control"
                        id="specialite"
                        required
                        [(ngModel)]="medecin.specialite"
                        name="specialite"
                        style="overflow: scroll;"
                      >
                        <option [ngValue]="null" [disabled]="true">
                          <i class="ni ni-pin-3">Specialité</i></option
                        >

                        <option value="Cardiologue">Cardiologue</option>
                        <option value="Chirurgien Esthétique"
                          >Chirurgien Esthétique</option
                        >
                        <option value="Dentiste">Dentiste</option>
                        <option value="Dermatologue">Dermatologue</option>
                        <option value="Endocrinlogue Diabétologue"
                          >Endocrinlogue Diabétologue</option
                        >
                        <option value="Gastro-entérologue"
                          >Gastro-entérologue</option
                        >
                        <option value="Géneraliste">Géneraliste</option>
                        <option value="Gynécologue Obstétricien"
                          >Gynécologue Obstétricien</option
                        >
                        <option value="Interniste">Interniste</option>
                        <option value="Néphrologue">Néphrologue</option>
                        <option value="Neurologue">Neurologue</option>
                        <option value="Nutritionniste">Nutritionniste</option>
                        <option value="Ophtalamogue">Ophtalamogue</option>
                        <option value="Oto-Rhino-Laryngologiste"
                          >Oto-Rhino-Laryngologiste</option
                        >
                        <option value="Pédiatre">Pédiatre</option>
                        <option value="Pneumologue">Pneumologue</option>
                        <option value="Psychiatre">Psychiatre</option>
                        <option value="Psychothérapeute"
                          >Psychothérapeute</option
                        >
                        <option value="Radiologue">Radiologue</option>
                        <option value="Rhumatologue">Rhumatologue</option>
                        <option value="Sexologue">Sexologue</option>
                        <option value="Urologue">Urologue</option>
                      </select>
                      <!--spec select fin-->
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="name">Cin</label>
                      <input
                        type="text"
                        class="form-control"
                        id="cin"
                        required
                        [(ngModel)]="medecin.cin"
                        name="cin"
                      />
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <!-- Informations cabinet -->
                <h6 class="heading-small text-muted mb-4">
                  Informations cabinet
                </h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Adresse</label
                        >

                        <!--adresse select debut-->
                        <select
                          type="text"
                          class="form-control"
                          id="adresse"
                          required
                          [(ngModel)]="medecin.adresse"
                          name="adresse"
                          style="overflow: scroll;"
                        >
                          <option [ngValue]="null" [disabled]="true">
                            <i class="ni ni-pin-3">Ville</i></option
                          >
                          <option value="Tunis">Tunis</option>
                          <option value="Ben arous">Ben arous</option>
                          <option value="Bizerte">Bizerte</option>
                          <option value="Bizerte">Beja</option>
                          <option value="zahra">Zahra</option>
                          <option value="rades">Rades</option>
                          <option value="zaghouan">Zaghouan</option>
                          <option value="kef">Kef</option>
                          <option value="Sfax">Sfax</option>
                          <option value="Sousse">Sousse</option>
                          <option value="Monastir">Monastir</option>
                          <option value="Ariana">Ariana</option>
                          <option value="Manouba">Manouba</option>
                          <option value="Kairouan">Kairouan</option>
                          <option value="Jendouba">Jendouba</option>
                          <option value="Gafsa">Gafsa</option>
                          <option value="Gabes">Gabes</option>
                          <option value="Siliana">Siliana</option>
                          <option value="Kebili">Kebili</option>
                          <option value="Tataouine">Tataouine</option>
                          <option value="Djerba">Djerba</option>
                          <option value="Sidi Bouzid">Sidi Bouzid</option>
                          <option value="Nabeul">Nabeul</option>
                          <option value="Mahdia">Mahdia</option>
                        </select>
                        <!--fin ad select-->
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Prix visite</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="prixVisite"
                          required
                          [(ngModel)]="medecin.prixVisite"
                          name="prixVisite"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">
                  Contacts
                </h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Email</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          required
                          [(ngModel)]="medecin.email"
                          name="email"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Teléphone</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="tel"
                          required
                          [(ngModel)]="medecin.tel"
                          name="tel"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Description -->
              </form>
              <button class="btn btn-primary btn-block">
                Modifier
              </button>
            </div>
          </form>

          <!-- <div class="alert alert-success" *ngIf="isSuccessful">
            L'ajout est réussie!
          </div> -->
        </div>
        <div *ngIf="showMsg">
          <div class="alert alert-success">
            La modification est réussie!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--patient-->
<div [hidden]="submitted" *ngIf="patient">
  <form>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Modifier patient</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form (ngSubmit)="onSubmit()" *ngIf="!showMsg">
                <h6 class="heading-small text-muted mb-4">
                  Informations personnelles
                </h6>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="name">Nom</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nom"
                        required
                        [(ngModel)]="patient.nom"
                        name="nom"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="name"
                        >Prenom</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="prenom"
                        required
                        [(ngModel)]="patient.prenom"
                        name="prenom"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="name"
                        >Date de naissance</label
                      >
                      <input
                        type="texte"
                        class="form-control"
                        id="dateNaissance"
                        required
                        [(ngModel)]="patient.dateNaissance"
                        name="dateNaissance"
                      />
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->

                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">
                  Contacts
                </h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Email</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          required
                          [(ngModel)]="patient.email"
                          name="email"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Teléphone</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="tel"
                          required
                          [(ngModel)]="patient.tel"
                          name="tel"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Description -->
                <button class="btn btn-primary btn-block">
                  Modifier
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showMsg">
        <div class="alert alert-success">
          La modification est réussie!
        </div>
      </div>
    </div>
  </form>
</div>
