<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 400px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Medecin -->
  <div class="container-fluid d-flex align-items-center" *ngIf="admin">
    <div class="col-lg-9 col-md-12">
      <h1 class="display-2 text-white" style="color: yellow;">
        Mon profil ADMIN
      </h1>
      <p class="mt-0 mb-5" style="color: yellow;">
        {{ admin.nom }} {{ admin.prenom }}
      </p>

      <button
        type="button"
        class="btn btn-info"
        (click)="updateAdmin(admin.id)"
      >
        Modifier profil
      </button>
    </div>
  </div>
</div>

<!-- Admin -->

<div class="container-fluid mt--7" *ngIf="admin">
  <div class="col-xl-12 order-xl-10">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Informations Compte admin</h3>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="admin">
        <form>
          <h6 class="heading-small text-muted mb-4">Informations compte</h6>
          <div class="pl-lg-4">
            <div class="row"></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-city"
                    >Nom d'utilisateur</label
                  >
                  <!-- Card stats -->

                  <p>
                    {{ admin.username }}
                  </p>

                  <!--card fin-->
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">
            Informations personnelles
          </h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-username"
                    >Nom</label
                  >
                  <!-- Card stats -->

                  <p>
                    {{ admin.nom }}
                  </p>

                  <!--card fin-->
                </div>
              </div>
            </div>
          </div>

          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-email"
                    >Prenom</label
                  >

                  <!-- Card stats -->

                  <p>
                    {{ admin.prenom }}
                  </p>

                  <!--card fin-->
                </div>
              </div>
            </div>
          </div>

          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-email"
                    >Cin</label
                  >

                  <!-- Card stats -->

                  <p>
                    {{ admin.cin }}
                  </p>

                  <!--card fin-->
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->

          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Contacts</h6>
          <div class="pl-lg-4">
            <div class="row"></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-city"
                    >Email</label
                  >
                  <!-- Card stats -->

                  <p>
                    {{ admin.email }}
                  </p>

                  <!--card fin-->
                </div>
              </div>
            </div>
          </div>

          <div class="pl-lg-4">
            <div class="row"></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-country"
                    >Telephone</label
                  >
                  <!-- Card stats -->

                  <p>
                    {{ admin.tel }}
                  </p>

                  <!--card fin-->
                </div>
              </div>
            </div>
          </div>
          <a
            [routerLink]=""
            (click)="deleteAdmin(admin.id)"
            style="float: right; color: red;"
            >Désactiver compte</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
