<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 500px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="col-lg-12 col-md-10">
      <h1 style="color: yellow;">« RESERVI TBIBEK »</h1>
      <h2 class="text-white">
        La premiere plateforme de prise de rendez-vous médicale en Tunisie!
        <br />
      </h2>
      <p style="color: yellow;">
        Avec ce portail, vous allez pourvoir prendre des rendez-vous médicale
        dans quelques cliques !
      </p>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">
                Doute, inquiétude, besoin d’un conseil santé ?
              </h3>
              <p class="mb-0">
                Posez votre question médicale en ligne !
              </p>
            </div>
          </div>
        </div>
        <div>
          <form>
            <div class="card-body">
              <!--CARD START-->
              <div class="card">
                <div
                  class="card-header"
                  style="background-color: rgb(117, 181, 241);"
                >
                  Question
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    Des taches blanches sur les dents
                  </h5>
                  <p class="card-text">
                    Je veux savoir combien ça coute l'extraction d'une dent de
                    sagesse ? et j'ai des taches blanches sur une dent ce qui
                    est sure que ce n'est pas du tartre, est ce que ça peut etre
                    une carie blanche ?
                  </p>
                </div>
                <div
                  class="card-header"
                  style="background-color: rgb(130, 134, 192);"
                >
                  Réponse
                </div>
                <div class="card-body">
                  <a
                    href="javascript:void(0)"
                    class="avatar rounded-circle mr-3"
                  >
                    <img
                      alt="Image placeholder"
                      src="../assets/img/theme/medecin4.jpg"
                    />
                  </a>
                  Dr Amal HADDAR
                  <p style="padding-left: 70px;">Médecin Dentiste</p>
                  <div style="height: 10px;"></div>
                  <p class="card-text">
                    Pour le coût d'extraction de la dent de sagesse c'est très
                    variable selon la situation de la dent et si c'est
                    extraction chirurgicale ou non. Pour les taches blanches il
                    vaut mieux faire une consultation pour faire un diagnostic
                    convenablement et puis décider de la CAT
                  </p>
                </div>
                <div class="card-footer text-muted text-center">
                  2 days ago
                </div>
              </div>
              <!--CARD END-->

              <div style="height: 80px;"></div>

              <!--CARD START-->
              <div class="card">
                <div
                  class="card-header"
                  style="background-color: rgb(117, 181, 241);"
                >
                  Question
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    Cerne pigmenté
                  </h5>
                  <p class="card-text">
                    Bjr, svp qu'elles sont les solution pour débarrasser des
                    cernes pigmentés une fois pour toute, j'ai consulter un
                    dermato elle ma propose traitement "biocerne"
                  </p>
                </div>
                <div
                  class="card-header"
                  style="background-color: rgb(130, 134, 192);"
                >
                  Réponse
                </div>
                <div class="card-body">
                  <a
                    href="javascript:void(0)"
                    class="avatar rounded-circle mr-3"
                  >
                    <img
                      alt="Image placeholder"
                      src="../assets/img/theme/medecin5.jpg"
                    />
                  </a>
                  Dr Fedi GUESMI
                  <p style="padding-left: 70px;">Médecin Esthétique</p>
                  <div style="height: 10px;"></div>
                  <p class="card-text">
                    Bonjour, il n y a malheureusement pas de traitement pour les
                    cernes pigmentées. On disposes de moyens comme les peeling
                    et la mesotherapie, juste pour les atténuer
                  </p>
                </div>
                <div class="card-footer text-muted text-center">
                  3 days ago
                </div>
              </div>
              <!--CARD END-->

              <div style="height: 80px;"></div>

              <!--CARD START-->
              <div class="card">
                <div
                  class="card-header"
                  style="background-color: rgb(117, 181, 241);"
                >
                  Question
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    قرنية مخروطية
                  </h5>
                  <p class="card-text">
                    أعاني من قرنية مخروطية منذ المراهقة وبدأ نظري يتدهور ولم
                    تشخص حالتي الا في سن 36 سنة رغم اني كنت كل سنة او ستة اشهر
                    اذهب الى طبيب زرت معظم الاطباء ولكن واحد ما شخص حالتي غير لي
                    يوصفلي نظارات وبعدها عدسات عادية وآخر مرة منذ 6 اشهر نصحني
                    الطبيب بارتداء عدسات لاصقة بعد ان عمل لي اشعة تصوير وكشف
                    مشكلتي ولكنه لم يعمل لي تثبيت نظر يعني تصليب قرنية ما رأيك
                    استاذ في حالتي والله محتارة وقلقة من العدسات الصلبة تزعجني
                    وتسبب لي حروقات وألم ولكم كل الامتنان
                  </p>
                </div>
                <div
                  class="card-header"
                  style="background-color: rgb(130, 134, 192);"
                >
                  Réponse
                </div>
                <div class="card-body">
                  <a
                    href="javascript:void(0)"
                    class="avatar rounded-circle mr-3"
                  >
                    <img
                      alt="Image placeholder"
                      src="../assets/img/theme/medecin3.png"
                    />
                  </a>
                  Dr Tarek ESSID ESSID
                  <p style="padding-left: 70px;">Ophtalmologiste</p>
                  <div style="height: 10px;"></div>
                  <p class="card-text">
                    Excusez moi de vous répondre en retard je viens de voir
                    votre message. Vous avez ce qu’on appelle le keratocône. Le
                    traitement en dehors des lentilles dures est chirugical avec
                    des anneaux intra-cornéens (Keraring) après un « cross
                    linking » réalisé par des UV (ultra violets) afin de mettre
                    fin à la progression du Keratocône. Bon courage!
                  </p>
                </div>
                <div class="card-footer text-muted text-center">
                  3 days ago
                </div>
              </div>
              <!--CARD END-->
            </div>

            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a
                      class="page-link"
                      href="javascript:void(0)"
                      tabindex="-1"
                    >
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)"
                      >2 <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
